.cardContainer-indigo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  background: linear-gradient(to left top, white, #dda0dd);
}
.card {
  margin: auto;
  //padding: 1rem 1rem 1rem 1rem;
  //align-items: right;
  text-align: center;
}
.image {
  background-image: url(./indigo_headshot.png);
}
.imageContainer {
  //align-items: left;
  width: 120px;
  height: auto;
  margin: auto;
  border-radius: 50%;
}
