
.jennsCardContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-width: 3px;
}
.jdCard{
    text-align: center;
}

.jdName{
    color: #004643;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.jdText{
    margin-bottom: 0;
    color: #444444;
    font-family: 'Merriweather', serif;
}

.jdButtons{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.jdButton{
    background-color: #004643;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.jdButton:hover{
    color: white;
    background-color: #5F4B66;
}