
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}
.card{
    margin: auto;
    //padding: 1rem 1rem 1rem 1rem;
    //align-items: right;
    text-align: center;
    //border: 2px solid white;
}
.image {
    background-image: url(./palesaHeadShot.jpg);
  }
.imageContainer{
    //align-items: left;
    width: 120px;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
