.domCardContainer {
    align-items: center;
    background: #c54bd3;  /* fallback for old browsers */
    background: -webkit-linear-gradient( #4bc0c8be, #c54bd3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #4bc0c8d3, #c54bd3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    display: flex;
    height: 100%;
    justify-content: space-around;

    h3 {
        margin-top: 0!important;
    }

    a {
        color: hsl(204, 100%, 75%); 
        font-weight: bold;
    }

    .centered {
        text-align: center;
    }

    .imageContainer {
        border-radius: 50% 20% / 10% 50%;
    }

    .imageContainer:hover{
        animation-name: percent-keyframe-animation;
        animation-duration: 5s;
    }
    	
    @keyframes percent-keyframe-animation {
        0%   { border-radius: 0 0 0 0 }
        25%  { border-radius: 0 100% 0 0 }
        50%  { border-radius: 0 100% 100% 0 }
        75%  { border-radius: 0 100% 100% 100% }
        100% { border-radius: 100% 100% 100% 100% }
    }

    .card {
        margin: auto;
        text-align: center;
      }

    .link {
        padding: 5px 10px;
        margin: 0 5px 5px;
        background-color: rgb(38, 114, 95);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: smaller;
    }
    .link:hover {
        background-color: rgb(222, 218, 218);
        color: cadetblue;
        text-decoration: none;
    }

    @media only screen and (max-width: 768px) {
        .image {
            height: 110px;
        }
    }
}
