.domCardContainer {
    align-items: center;
    background: #ddccff;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(#ddccff);  /* Chrome 10-25, Safari 5.1-6 */
    //@debug: linear-gradient(#ddccff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //color: whitesmoke;
    display: flex; 
    height: 100%;
    justify-content: space-around;

    h3 {
        margin-top: 0!important;
    }

    a {
        color: black;
        font-weight: bold;
    }

    .centered {
        text-align: center;
    }

    .imageContainer {
        border-radius: 50% 20% / 10% 50%;
    }

    .imageContainer:hover{
        animation-name: percent-keyframe-animation;
        animation-duration: 5s;
    }
    	
    @keyframes percent-keyframe-animation {
        0%   { border-radius: 0 0 0 0 }
        25%  { border-radius: 0 100% 0 0 }
        50%  { border-radius: 0 100% 100% 0 }
        75%  { border-radius: 0 100% 100% 100% }
        100% { border-radius: 100% 100% 100% 100% }
    }

    .card {
        margin: auto;
        text-align: center;
      }

    .link {
        padding: 5px 10px;
        margin: 0 5px 5px;
        background-color: #aa80ff;
        border: none;
        border-radius: 5px;
        color: black;
        font-size: smaller;
    }
    .link:hover {
        background-color: #884dff;
        color: white;
        text-decoration: none;
    }

    @media only screen and (max-width: 768px) {
        .image {
            height: 110px;
        }
    }
}
