.btn-main {
    background-color: #077D7F;
}

.btn-cancel {
    background-color: #e86431!important;
    color: white !important;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
}

