.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.card {
  margin: auto;
  text-align: center;
}
.imageContainer {
  width: 120px;
  height: auto;
  margin: auto;
  border-radius: 50%;
}
.link {
  padding: 5px 10px;
  margin: 0 5px 5px;
  background-color: rgb(47, 91, 72);
  box-shadow: 2px 2px 4px grey;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: smaller;
}
.link:hover {
  background-color: rgb(222, 218, 218);
  color: cadetblue;
  text-decoration: none;
}
