.footer {
  display: grid;
  grid-template-areas: 
    'line line line'
    'socials logo linktree';
  align-items: center;
  height: auto;
  justify-items: center;
  margin: 15px;
}

.line {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 75%;
}

.socials {
  display: flex;
  gap: 15px;
}

.wwcbd-logo-footer {
  height: 10em;
  width: 11em;
}

.social {
  height: 1.5em;
  width: auto;
}

@media (max-width: 700px) {
  .footer {
    grid-template-areas:
      'line'
      'socials'
      'logo'
      'linktree';
  }
}
