.rachaelCardContainer {
  align-items: center;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.rachaelCard {
  margin: auto;
  text-align: center;
}
.rachaelImageContainer {
  border-color: #b60046;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  height: auto;
  margin: auto;
  width: 120px;
}
.rachaelName {
  color: #005eae;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}
.rachaelTitle {
  color: black;
  font-family: "Nunito Sans", sans-serif;
}
.rachaelLinkContainer {
  display: flex;
  justify-content: space-around;
}
.rachaelLink {
  background-color: #005eae;
  border-radius: 20px;
  color: white;
  padding: 8px;
  text-decoration: none;
}
.rachaelLink:hover {
  background-color: #b60046;
  color: white;
}
